include head.pug
preview
  .container
    each alert in alerts
      .alert.mb-3&attributes(alert.attributes)= alert.message
    each open in submissions
      .card&attributes({id: open._id})
        .card-body
          if open.eboard
            h4.card-title.mb-0= open.eboard.map((dir) => eboard[dir] || dir).join(', ')
          if open.date
            p.cart-text.text-muted= open.date
          if open.likes
            h5.card-subtitle.mt-2 Likes
            p.card-text= open.likes
          if open.dislikes
            h5.card-subtitle.mt-2 Dislikes
            p.card-text= open.dislikes
          if open.comments
            h5.card-subtitle.mt-2 Comments
            p.card-text= open.comments
          if open.name
            h5.card-subitle.mt-2 From:
            p.card-text= open.name
          button(type='button' onclick=`publish("${open._id}")`).btn.btn-primary Archive (Public)
          button(type='button' onclick=`hide("${open._id}")`).btn.btn-primary Archive (Private)
          button(type='button' onclick=`delet("${open._id}")`).btn.btn-primary Delete Permanently
script(type='text/javascript')
  include scripts/archive-eval.js
include foot.pug
